* {
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto auto auto;
    padding-right: 5%;
    padding-left: 5%;
}

a {
    text-decoration: none;
    color: black;
}

#header, #footer {
    padding: 2vh 50px;
    border: 1px solid red; /* TEMPORARY...DELETE LATER */
}

/* Navbar links */
#header-links {
    float: right;
    text-align: center;
}

/* items */
#dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-option {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 140px;
    text-align: left;
    background-color: blanchedalmond;
}

.dropdown-option a {
    display: block;
    color: black;
    padding: 10px;
}

.show {
    display: block;
}

#main {
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid blue;
}

#main-row-1 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#project-img {
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    height: 250px;
    width: 250px;
    margin-right: 100px;
}

#title {
    flex-grow: 2;
    height: 100px;
    font-size: 100px;
    border: 1px solid orange;
}

#main-row-2 {
    display: flex;
    width: 100%;
}

#info-block-1 {
    height: 800px;
    flex-grow: 1;
    border: 1px solid purple;
    margin-right: 50px;
}

#info-block-2 {
    flex-grow: 2;
    border: 1px solid green;
}

@media screen and (max-width: 1000px) {
    #main, #main-row-2 {
        display: block;
    }

    #main-row-1 {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        justify-content: center;
    }

    #project-img {
        margin-right: 0;
        justify-self: center;
        margin-bottom: 30px;
    }

    #info-block-1 {
        margin-bottom: 20px;
    }

    #info-block-1, #info-block-2 {
        height: auto;
        width: 100%;
    }
}