
* {
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 5% auto auto auto auto auto;
    grid-template-columns: 10% 80% 10%;
}

a {
    text-decoration: none;
}

/* Navbar */
#header {
    overflow: hidden;
    padding: 20px 50px;
    border: 1px solid red;
}

/* Navbar links */
#header-links {
    float: right;
    text-align: center;
}

/* items */
#header-item {
    padding-left: 50px;
}

/* First section */
#intro, #eduAndExp, #skills, #projects, #contact {
    display: grid;
    height: 800px;
    grid-template-columns: 10% 80% 10%;
    border: 1px solid blue; /* TEMPORARY...DELETE LATER */
}

/* Main content of the 1st section */
#intro {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
}

/* TEMPORARY...DELETE LATER */
#connect, #connection-links {
    border: 1px solid green;
}
/* TEMPORARY...DELETE LATER */

/* Profile picture & resume link */
#pfp {
    height: 80%;
    width: 50%;
    justify-self: right;
    display: grid;
    grid-template-rows: 80% 20%;
}

#pfp-row-1, #pfp-row-2 {
    border: 1px solid orange; /* TEMPORARY...DELETE LATER */
    display: grid;
    justify-content: center;
    align-items: center;
}

#resume {
    font-size: 20px;
}

/* Name, summary, & social links */
#about {
    height: 90%;
    width: 50%;
    justify-self: left;
    display: grid;
    grid-template-rows: 20% 70% 10%;
}

#about-row-1, #about-row-2, #about-row-3 {
    border: 1px solid purple; /* TEMPORARY...DELETE LATER */
    display: grid;
    justify-content: center;
    align-items: center;
}

#about-row-2 {
    padding-left: 50px;
    padding-right: 50px;
}

#about-row-3 {
    display: grid;
    grid-template-columns: 50% 50%;
}

#connect {
    padding-left: 50px;
}

#connection-links {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 0% 100% 0%;
    }
  }

@media screen and (max-width: 1500px) {

    #pfp, #about {
        justify-self: center;
    }

    #pfp {
        align-self: end;
    }
    
    #intro {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
  }

  @media screen and (max-width: 1800px) {
    #about-row-3 {
        display: block;
        align-items: none;
    }
    
    #connect {
        text-align: center;
        padding: 0;
    }
  }