
/*--- GENERAL ---*/

* {
    margin: 0;
    font-family: "Urbanist", serif;
    color: #082145;
}

h1,
h2,
h3,
h1 span,
#main-2 .list-head {
    font-family: "Cinzel Decorative", serif;
    color: #082145;
}

h1,
h2,
h3,
h1 span {

    display: inline-block;
}

h1 {
    font-size: 2.5vh;
    text-shadow: .12rem .1rem #b5bac1;
}

h1 span::first-letter {
    font-size: 4.5vh;
}

section {
    padding: 2% 20% 5% 20%;
    text-align: center;
}

.divider {
    height: 4.5vh;
    margin-bottom: 2%;
}



/*--- BODY ---*/

.main-body {
    background-image: url(images/Azia\ Website\ Background\ v1.png);
    background-size: 100%;
}



/*--- NAV BAR ---*/

nav {
    background-color: #f9f9f9;
    height: 20%;
    color: #bbaba4;
    font-weight: 600;
    font-size: 1.6vh;
    padding: 1% 5% 3% 5%;
}

nav ul {
    vertical-align: middle;
    display: flex;
    align-items: center;
}

nav ul a {
    color: #bbaba4;
}

nav ul li:first-child {
    flex: 6;
    text-align: start;
}

nav ul li {
    list-style: none;
    flex: 1;
    text-align: center;
}

.logo {
    height: 9vh;
}

.profile {
    height: 45vh;
}



/*--- INTRODUCTION SECTION ---*/

#main-1 {
    display: flex;
}

.main-1-box {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-1-box-2 p {
    line-height: 3vh;
    margin: 7% 0 10% 0;
    width: 85%;
    font-size: 1.5vh;
}

#main-1-box-2 ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 1.4vh;
    align-items: center;
}

#main-1-box-2 ul li {
    list-style: none;
}

#main-1-box-2 ul li img {
    height: 4vh;
}




/*--- EDUCATION & EXPERIENCE ---*/

#main-2-container {
    display: flex;
    column-gap: 5%;
}

.main-2-box {
    text-align: left;
    flex-basis: 55%;
}

#cert-lic {
    border: 2px solid #cadbe6;
    border-radius: 3%;
    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;
    flex-basis: 40%;
}

#cert-lic .divider {
    height: 3vh;
    width: 15vw;
    align-self: center;
    margin-bottom: 5%;
}

#cert-lic h3 {
    text-align: center;
    padding-top: 5%;
}

.main-2-box h3 {
    margin-top: 2em;
}


.main-2-box h3:first-of-type {
    margin-top: 0;
}

.list-item {
    position: relative;
    left: 2em;
}

.list-head {
    font-weight: 600;
    list-style-image: url(images/Star\ Open.svg);
    margin-top: 1em;
}

.list-text {
    font-family: "Cinzel Decorative", serif;
    position: relative;
    bottom: 15px;
}

.list-text span {
    font-family: "Cinzel Decorative", serif;
    color: #345c98;
}

.description li {
    list-style: disc;
    list-style-position: inside;
    position: relative;
    right: 2.5em;
    line-height: 1.5em;
}

.description li:before {
    content: "";
    position: absolute;
    left: -27px;
    border-left: 2px solid #345c98;
    height: 100%;
    width: 1px;
}

.description:last-of-type li::before {
    content: none;
    border-left: none; 
}



/*--- SKILLS SECTION ---*/

#skill-box {
    display: flex;
    width: 80%;
    padding: 3% 0% 0% 0%;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5rem;
    margin: 0% 10% 0% 10%;
}

.skill {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    row-gap: 1rem;
}

circle-progress::part(base) {
	height: 10vh;
    width: auto;
}

circle-progress::part(value) {
	stroke-width: 10%;
	stroke: #345c98;
}

circle-progress::part(circle) {
	stroke-width: 10%;
	stroke: #cadbe6;
}

circle-progress::part(text) {
	fill: #345c98;
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    font-size: 120%;
}