
/*--- GENERAL ---*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    font-family: "Urbanist", serif;
    color: #082145;
}

h1,
h2,
h3,
h1 span,
#main-2 .list-head {
    font-family: "Cinzel Decorative", serif;
    color: #082145;
}

h1,
h2,
h3,
h1 span {
    display: inline-block;
}

h1 {
    text-shadow: .12rem .1rem #b5bac1;
    font-size: xx-large;
}

h1 span::first-letter {
    font-size: 3.5rem;
}

section {
    padding: 2% 20% 5% 20%;
    text-align: center;
}

a {
    text-decoration: none;
}

.divider {
    height: 4rem;
    margin-bottom: 1%;
}



/*--- BODY ---*/

.main-body {
    background-image: url(images/Azia\ Website\ Background\ v1.png);
    background-size: 100%;
}



/*--- NAV BAR ---*/

nav {
    background-color: #f9f9f9;
    height: 20%;
    color: #bbaba4;
    font-weight: 600;
    font-size: larger;
    padding: 1% 5% 3% 5%;
}

nav ul {
    vertical-align: middle;
    display: flex;
    align-items: center;
}

nav ul a {
    color: #bbaba4;
}

nav ul li:first-child {
    flex: 6;
    text-align: start;
}

nav ul li {
    list-style: none;
    flex: 1;
    text-align: center;
}

.logo {
    height: 7rem;
}




/*--- INTRODUCTION SECTION ---*/

.profile {
    height: 35rem;
}

#main-1 {
    display: flex;
}

.main-1-box {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-1-box-2 p {
    line-height: 3rem;
    margin: 7% 0 10% 0;
    width: 85%;
}

#main-1-box-2 ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-1-box-2 ul li {
    list-style: none;
}

#main-1-box-2 img {
    height: 3.5rem;
}




/*--- EDUCATION & EXPERIENCE ---*/

#main-2-container {
    display: flex;
    column-gap: 5%;
}

.main-2-box {
    text-align: left;
    flex-basis: 55%;
}

#cert-lic {
    border: .1rem solid #cadbe6;
    border-radius: 3%;
    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;
    flex-basis: 40%;
}

#cert-lic .divider {
    height: 2.5rem;
    width: 25rem;
    align-self: center;
    margin-bottom: 5%;
}

#cert-lic h3 {
    text-align: center;
    padding-top: 5%;
}

.main-2-box h3 {
    margin-top: 2em;
}


.main-2-box h3:first-of-type {
    margin-top: 0;
}

.list-item {
    position: relative;
    left: 30px;
}

.list-head {
    font-weight: 600;
    list-style-image: url(images/Star\ Open.svg);
    margin-top: 1em;
}

.list-text {
    font-family: "Cinzel Decorative", serif;
    bottom: 20px;
    position: relative;
}

.list-text span {
    font-family: "Cinzel Decorative", serif;
    color: #345c98;
}

.description li {
    list-style: disc;
    list-style-position: inside;
    position: relative;
    right: 45px;
    line-height: 1.5em;
}

.description li:before {
    content: "";
    position: absolute;
    left: -23px;
    border-left: .13rem solid #345c98;
    height: 100%;
}

.description:last-of-type li::before {
    content: none;
    border-left: none; 
}




/*--- SKILLS SECTION ---*/

#skill-box {
    display: flex;
    width: 80%;
    padding: 3% 0% 0% 0%;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5rem;
    margin: 0% 10% 0% 10%;
}

.skill {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    row-gap: 1rem;
}

circle-progress::part(base) {
	height: 8rem;
    width: auto;
}

circle-progress::part(value) {
	stroke-width: 10%;
	stroke: #345c98;
}

circle-progress::part(circle) {
	stroke-width: 10%;
	stroke: #cadbe6;
}

circle-progress::part(text) {
	fill: #345c98;
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
}



/*--- PROJECTS ---*/

#projects-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 5%;
}

#projects-buttons button {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    border: .2rem #082145 solid;
    cursor: pointer;
}

#tugo-button {
    background: url(images/tugo-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#perspective-button {
    background: url(images/perspective-logo.png);
    background-size: 130%;
    background-position-x: center;
    background-position-y: center;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#projects-popups {
    display: flex;
    justify-content: center;
}

#projects-popups .popup {
    display: none;
    background: #f9f9f9;
    overflow: hidden;
    border: #082145 2px solid;
    border-radius: 15%;
    height: 600px;
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#projects-popups .tugo .poster {
    background: linear-gradient(to bottom, transparent, 50%, #f9f9f9), url("images/tugo-logo.png");
    background-position: center;
}

#projects-popups .perspective .poster {
    background: linear-gradient(to bottom, transparent, 50%, #f9f9f9), url("images/perspective-logo.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
}

#projects-popups .poster {
    width: 100%;
    height: 30%;
    overflow: hidden;
    margin-bottom: 30px;
}


#projects-popups .divider {
    height: 2rem;
    margin-bottom: 2%;
}

#projects-popups p {
    width: 90%;
    margin: 10px 5% 30px 5%;
}

#projects-popups .spacer {
    width: 100%;
    height: 30px;
}

.popup-buttons {
    position: absolute;
    width: 100%;
    bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

#projects-popups button,
#projects-popups a {
    margin-top: 20px;
    background: none;
    border: none;
    font-size: 100%;
    color: #bbaba4;
}


#projects-popups button:hover {
    cursor: pointer;
    font-weight: 600;
}


/*--- CONTACT ME ---*/

#main-5 h2::before {
    content: url(images/Star\ Closed.svg);
    position: relative;
    top: 15px;
    right: 15px;
}

#main-5 p {
    width: 40%;
    line-height: 2em;
    margin: 2% 30% 0 30%;
}

#main-5 img {
    height: 3rem;
    margin-right: 1rem;
}

#contact {
    display: flex;
    justify-content: center;
}

#contact ul {
    list-style: none;
    text-align: left;
    margin-top: 1rem;
}

#contact a {
    display: flex;
    align-items: center;
    margin: 1% 0 10% 0;
}

#contact a:first-of-type {
    margin-top: 10%;
}



/*--- FOOTER ---*/

#main-6 {
    padding-bottom: 1%;
}

#main-6 a {
    color: #345c98;
}



/*--- RESPONSIVE FEATURES ---*/

@media screen and (max-width: 1200px) {
    html {
        font-size: smaller;
    }

    /*--- INTRODUCTION SECTION ---*/

    .profile {
        height: 25rem;
    }

    .divider {
        height: 3rem;
    }

    #main-1-box-2 p {
        line-height: 2rem;
    }

    #main-1-box-2 h3 {
        font-size: smaller;
    }

    #main-1-box-2 img {
        height: 2.5rem;
    }

    /*--- EDUCATION & EXPERIENCE ---*/

    #main-2-container {
        flex-wrap: wrap;
    }

    .main-2-box {
        flex-basis: 100%;
    }
    
    #cert-lic {
        flex-basis: 100%;
        padding: 2%;
        border-radius: 6%;
    }

    #cert-lic h3 {
        padding-top: 1%;
    }

    #cert-lic .divider {
        height: 1.5rem;
        margin-bottom: 2%;
    }

    .description li:before {
        left: -21px;
    }

    .list-item:last-of-type {
        margin-bottom: 8%;
    }

    /*--- SKILLS ---*/

    .skill h3 {
        font-size: small;
    }

    /*--- PROJECTS ---*/

    #projects-buttons button {
        height: 10rem;
        width: 10rem;
    }

    #projects-popups .popup {
        height: 500px;
        width: 600px;
    }
}

@media screen and (max-width: 900px) {
    
    html {
        font-size: small;
    }

    section {
        padding: 2% 15% 5% 15%;
    }

    /*--- NAV BAR ---*/

    nav ul li:first-child {
        flex: 5;
    }

    /*--- INTRODUCTION SECTION ---*/

    #main-1 {
        flex-wrap: wrap;
        row-gap: 30px;
    }
    
    .main-1-box {
        flex-basis: 100%;
    }

    /*--- SKILLS ---*/

    .skill {
        flex-basis: 40%;
    }
    
    /*--- CONTACT ME ---*/
    
    #main-5 p {
        width: 60%;
        line-height: 2em;
        margin: 2% 20% 0 20%;
    }
}

@media screen and (max-width: 700px) {

    /*--- NAV BAR ---*/

    nav ul li:first-child {
        flex: 2;
    }

    section {
        padding-bottom: 15%;
    }

}

@media screen and (max-width: 600px) {

    /*--- PROJECTS ---*/

    #projects-popups .popup {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0%;
    }
}

@media screen and (max-height: 600px) {
    #projects-popups .poster {
        display: none;
    }    
}

@media screen and (max-height: 500px) {

    
    /*--- PROJECTS ---*/
    
    #projects-popups .popup {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0%;
    }
    
    .popup h1 {
        font-size: 5vh;
    }
    
    .popup p {
        font-size: xx-small;
    }
    
    #projects-popups h1 {
        margin-top: 20px;
    }
    
    #projects-buttons button {
        height: 6rem;
        width: 6rem;
    }
}

@media screen and (max-width: 500px) {
    
    /*--- NAV BAR ---*/
    
    nav {
        padding: 5% 5% 3% 5%;
    }
    
    nav ul li:first-child {
        flex: 1;
    }
    
    .logo {
        height: 5rem;
    }
    
    h1 {
        font-size: large;
    }
    
    h1 span::first-letter {
        font-size: 2.5rem;
    }
    
    /*--- PROJECTS ---*/

    #projects-popups h1 {
        margin-top: 20px;
    }
    
    #projects-buttons button {
        height: 6rem;
        width: 6rem;
    }

    /*--- SKILLS ---*/
    .list-item {
        position: relative;
        left: 20px;
    }

}

@media screen and (max-width: 400px) {

    html {
        font-size: smaller;
    }

    .divider {
        height: 4rem;
        margin-bottom: 1%;
    }

    /*--- NAV BAR ---*/

    .logo {
        height: 4rem;
    }

    nav {
        font-size: small;
    }

    /*--- INTRODUCTION SECTION ---*/

    .profile {
        height: 20rem;
    }

    .divider {
        width: 15rem;
        height: 2rem;
        margin-bottom: 2%;
    }

    #main-1-box-2 img {
        height: 2rem;
    }

    #main-1-box-2 ul {
        width: 100%;
    }

    #main-1-box-2 li {
        position: relative;
        right: 5%;
    }


    /*--- EDUCATION & EXPERIENCE ---*/

    #cert-lic {
        text-align: left;
    }

    #cert-lic .divider {
        height: 2rem;
        width: 15rem;
        margin-bottom: 2%;
    }

    /*--- SKILLS ---*/
    
    circle-progress::part(base) {
        height: 5rem;
    }

    /*--- SKILLS ---*/

    .list-item {
        position: relative;
        left: 10px;
    }

    .skill h3 {
        font-size: x-small;
    }


    /*--- CONTACT ME ---*/
    
    #main-5 p {
        width: 90%;
        line-height: 2em;
        margin: 3% 5% 0 5%;
    }
}